In [1]:
# Import many dataFrame for the Algorithm Comparison:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import cm
from matplotlib.lines import Line2D
from scipy import stats
import glob
import os
# pd.set_option('display.max_rows', 500)
from scipy.stats import gaussian_kde
from scipy.stats import sem
import seaborn as sns
from scipy.stats.mstats import winsorize

### Import our libraries
# some_file.py
import sys
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, '../data_preprocessing/')
import fixation_plots as plots
from utility import utilitiesCalc
import interpolationET as inter

In [2]:
counter = 15
lb_data = []
el_data = []
trial_data = []
targets_data = []
subject = 0
targets_data = []
all_target = pd.DataFrame()

In [3]:
# def formating_labvanced (df_lb):
#     # Renaming the columns
#     df_lb = df_lb[df_lb['Task_Name'] == "smooth_pursuit"]
#     df_lb = df_lb.rename(columns={"value":"X_lb","Unnamed: 11":"Y_lb","Unnamed: 12":"time_lb","Unnamed: 13":'c'})
#     # Converting time column to 13 digit number
#     df_lb.time_lb = df_lb.time_lb.apply(lambda x: int('%.0f' % x))

#     # # Fill all nan values with 0
#     df_lb[['X_lb','Y_lb']] = df_lb[['X_lb','Y_lb']].fillna(0)
#     # # Convert the coordinates points from floats to intergers
#     df_lb[['X_lb','Y_lb']] = df_lb[['X_lb','Y_lb']].apply(np.int64)
#     df_lb = df_lb[(df_lb[['X_lb']] != 0).all(axis=1)]

#     # # Drop NaNs
# #     df_lb.drop(columns=df_lb.columns[-1], axis=1, inplace=True)
#     df_lb.dropna(inplace=True)

#     # df_lb = df_lb.set_index('time_lb', drop=True)
#     return df_lb

In [4]:
subject = 0
for i in range(1,counter):
    df_temp = pd.read_csv("../data/el_data/p" + str(i) + '.csv', engine='python')
    subject = subject + 1
    df_temp = utilitiesCalc.addParticipantNumberCol(subject, df_temp)
    el_data.append(df_temp)
el_gaze = pd.concat(el_data, axis=0, ignore_index=True)
el_gaze

              X      Y  Tracker_Time           Time  Participant_Nr
0         719.5  464.5        557179  1643102855039               1
1         719.4  464.3        557181  1643102855041               1
2         719.4  464.1        557183  1643102855043               1
3         719.7  463.9        557185  1643102855045               1
4         719.9  463.9        557187  1643102855047               1
...         ...    ...           ...            ...             ...
11584357    0.0    0.0       2905510  1642000557632              14
11584358    0.0    0.0       2905512  1642000557634              14
11584359    0.0    0.0       2905514  1642000557636              14
11584360    0.0    0.0       2905516  1642000557638              14
11584361    0.0    0.0       2905518  1642000557640              14

[11584362 rows x 5 columns]

In [5]:
el_gaze

              X      Y  Tracker_Time           Time  Participant_Nr
0         719.5  464.5        557179  1643102855039               1
1         719.4  464.3        557181  1643102855041               1
2         719.4  464.1        557183  1643102855043               1
3         719.7  463.9        557185  1643102855045               1
4         719.9  463.9        557187  1643102855047               1
...         ...    ...           ...            ...             ...
11584357    0.0    0.0       2905510  1642000557632              14
11584358    0.0    0.0       2905512  1642000557634              14
11584359    0.0    0.0       2905514  1642000557636              14
11584360    0.0    0.0       2905516  1642000557638              14
11584361    0.0    0.0       2905518  1642000557640              14

[11584362 rows x 5 columns]

In [6]:
subject = 0
for i in range(1,counter):
    df_temp = pd.read_csv("../data/lb_data/trial_data/p" + str(i) + '_trials.csv', engine='python')
    subject = subject + 1
    df_temp = utilitiesCalc.addParticipantNumberCol(subject, df_temp)
    trial_data.append(df_temp)
all_trials = pd.concat(trial_data, axis=0, ignore_index=True)
all_trials = all_trials[all_trials['Task_Name'] == "smooth_pursuit"] 
all_trials

,Rec_Session_Id,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,button_pressed,calibration_error,Condition_Id,...,showGaze,StartFrame,target_visibility_afterTime,targetX,targetY,time_offset_beep,time_sound_beep,trial_error,videoRecordTime,Participant_Nr
19,401562,1,block_1,5,smooth_pursuit,1,3,1.643104e+12,NaN,1,...,NaN,1.643104e+12,NaN,NaN,NaN,NaN,NaN,76.919106,NaN,1
20,401562,1,block_1,5,smooth_pursuit,2,4,1.643104e+12,NaN,1,...,NaN,1.643104e+12,NaN,NaN,NaN,NaN,NaN,62.225353,NaN,1
21,401562,1,block_1,5,smooth_pursuit,3,5,1.643104e+12,NaN,1,...,NaN,1.643104e+12,NaN,NaN,NaN,NaN,NaN,72.779396,NaN,1
22,401562,1,block_1,5,smooth_pursuit,4,2,1.643104e+12,NaN,1,...,NaN,1.643104e+12,NaN,NaN,NaN,NaN,NaN,65.967789,NaN,1
23,401562,1,block_1,5,smooth_pursuit,5,6,1.643104e+12,NaN,1,...,NaN,1.643104e+12,NaN,NaN,NaN,NaN,NaN,71.887772,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1112,387595,1,block_1,5,smooth_pursuit,2,2,1.642000e+12,NaN,1,...,NaN,1.642000e+12,NaN,NaN,NaN,NaN,NaN,39.922462,NaN,14
1113,387595,1,block_1,5,smooth_pursuit,3,1,1.642000e+12,NaN,1,...,NaN,1.642000e+12,NaN,NaN,NaN,NaN,NaN,41.930992,NaN,14
1114,387595,1,block_1,5,smooth_pursuit,4,6,1.642000e+12,NaN,1,...,NaN,1.642000e+12,NaN,NaN,NaN,NaN,NaN,53.462807,NaN,14
1115,387595,1,block_1,5,smooth_pursuit,5,3,1.642000e+12,NaN,1,...,NaN,1.642000e+12,NaN,NaN,NaN,NaN,NaN,41.666809,NaN,14
1116,387595,1,block_1,5,smooth_pursuit,6,5,1.642000e+12,NaN,1,...,NaN,1.642000e+12,NaN,NaN,NaN,NaN,NaN,44.383984,NaN,14

In [7]:
subject = 0
for i in range(1,counter):
    df_temp = pd.read_csv("../data/lb_data/timeseries_data/p" + str(i) + '_XYTC.csv', engine='python')
    subject = subject + 1
    df_temp = utilitiesCalc.addParticipantNumberCol(subject, df_temp)
    df_temp = inter.formating_labvanced (df_temp)
    df_temp = df_temp[df_temp['Task_Name'] == "smooth_pursuit"]
    lb_data.append(df_temp)
lb_gaze = pd.concat(lb_data, axis=0, ignore_index=True)
lb_gaze = lb_gaze[lb_gaze['Task_Name'] == "smooth_pursuit"]
lb_gaze.head()

,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,Exp_Subject_Id,Rec_Session_Id,Session_Nr,timestamp,X_lb,Y_lb,time_lb,c,Participant_Nr
0,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104077969,721.746687,468.656997,1643104077936,0.840882,1
1,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078018,788.702177,482.510117,1643104077974,0.842411,1
2,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078065,839.120668,501.489582,1643104078040,0.743172,1
3,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078087,774.508501,462.469328,1643104078073,0.745486,1
4,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078125,789.402485,473.965598,1643104078106,0.753613,1

In [8]:
subject = 0
for i in range(1,counter):
    df_temp = pd.read_csv("../data/lb_data/target_loc_data/p" + str(i) + '_XYVA.csv', engine='python')
    subject = subject + 1
    df_temp = utilitiesCalc.addParticipantNumberCol(subject, df_temp)
    df_temp = inter.formating_target(df_temp)
    targets_data.append(df_temp)
all_targets = pd.concat(targets_data, axis=0, ignore_index=True)
all_targets = all_targets[all_targets['Task_Name'] == "smooth_pursuit"]
all_targets.Participant_Nr.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [10]:
# lb_gaze = formating_labvanced (lb_gaze)

In [11]:
lb_gaze.size

885030

In [12]:
el_gaze

              X      Y  Tracker_Time           Time  Participant_Nr
0         719.5  464.5        557179  1643102855039               1
1         719.4  464.3        557181  1643102855041               1
2         719.4  464.1        557183  1643102855043               1
3         719.7  463.9        557185  1643102855045               1
4         719.9  463.9        557187  1643102855047               1
...         ...    ...           ...            ...             ...
11584357    0.0    0.0       2905510  1642000557632              14
11584358    0.0    0.0       2905512  1642000557634              14
11584359    0.0    0.0       2905514  1642000557636              14
11584360    0.0    0.0       2905516  1642000557638              14
11584361    0.0    0.0       2905518  1642000557640              14

[11584362 rows x 5 columns]

In [13]:
lb_gaze

,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,Exp_Subject_Id,Rec_Session_Id,Session_Nr,timestamp,X_lb,Y_lb,time_lb,c,Participant_Nr
0,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104077969,721.746687,468.656997,1643104077936,0.840882,1
1,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078018,788.702177,482.510117,1643104077974,0.842411,1
2,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078065,839.120668,501.489582,1643104078040,0.743172,1
3,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078087,774.508501,462.469328,1643104078073,0.745486,1
4,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078125,789.402485,473.965598,1643104078106,0.753613,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58997,1,block_1,5,smooth_pursuit,6,5,349904,387595,1,1642000353167,322.972298,410.529417,1642000353145,0.800210,14
58998,1,block_1,5,smooth_pursuit,6,5,349904,387595,1,1642000353191,347.786336,448.015920,1642000353178,0.802053,14
58999,1,block_1,5,smooth_pursuit,6,5,349904,387595,1,1642000353240,310.062246,377.160095,1642000353211,0.875662,14
59000,1,block_1,5,smooth_pursuit,6,5,349904,387595,1,1642000353269,328.552794,412.960162,1642000353244,0.876848,14
59001,1,block_1,5,smooth_pursuit,6,5,349904,387595,1,1642000353301,363.968639,423.731605,1642000353283,0.878022,14

In [14]:
lb = lb_gaze.set_index('time_lb')

In [15]:
# def formating_eyelink (el):
#     el.Time = el.Time.apply(lambda x: int('%.0f' % (x * 1)))
#     # el['Time'] = el['Time'].apply(np.int64) * 1000
#     # EYE LINK DATA rename the eyelink columns
#     el = el.rename(columns={'X':'X_el','Y':'Y_el','Time':'t'})
#     el['time_el'] = el['t']
#     #If so delete this row
# #     el = el[(el[['X_el','Y_el','time_el']] != 0).all(axis=1)]
# #     el.dropna(inplace=True)
#     #Check once agian
# #     print('show missing data in eyelink dataset')
#     (el == 0).sum(axis=0)
#     return el

In [16]:
# el = formating_eyelink (el_gaze)
el_gaze.head()
el = el_gaze.rename(columns={'X':'X_el','Y':'Y_el','Time':'t'})

In [17]:
el.to_csv('../data/el_data/smooth_pursuit/smooth_pursuit.csv', index = False)

In [18]:
el = el.set_index('t')

In [19]:
def interpolation ():
# Interpolate data

    df_temp = pd.concat([el, lb .index.to_frame()]).sort_index().interpolate()

    df_temp = df_temp[~df_temp.index.duplicated(keep='first')]
    df_interpolated = lb .merge(df_temp, left_index=True, right_index=True, how='left')

    df_interpolated = df_interpolated.drop(columns=['time_lb'])
    df_interpolated = df_interpolated.reset_index()

    df_interpolated .Y_el = df_interpolated.Y_el.astype(int)
    df_interpolated .X_el = df_interpolated.X_el.astype(int)
    return df_interpolated
df_interpolated = interpolation()

In [20]:
df_interpolated.to_csv('../data/el_data/smooth_pursuit.csv', index = False)

In [21]:
all_targets.set_index('timestamp')

,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,Exp_Subject_Id,Rec_Session_Id,Session_Nr,A,V,Y_target,X_target,Participant_Nr
timestamp,,,,,,,,,,,,,,
1641992936831,1,block_1,5,smooth_pursuit,1,3,349804,387482,1,NaN,NaN,NaN,NaN,1
1641993960518,1,block_1,5,smooth_pursuit,1,3,349804,387482,1,NaN,NaN,NaN,NaN,1
1641993983894,1,block_1,5,smooth_pursuit,1,3,349804,387482,1,2.480687,0.000961,225.000590,399.999241,1
1641993983922,1,block_1,5,smooth_pursuit,1,3,349804,387482,1,2.400988,0.003599,225.003018,399.996585,1
1641993983952,1,block_1,5,smooth_pursuit,1,3,349804,387482,1,2.417203,0.008095,225.008382,399.990523,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1647603264764,1,block_1,5,smooth_pursuit,6,6,390795,437978,1,5.624669,0.585120,265.966914,545.448119,14
1647603264793,1,block_1,5,smooth_pursuit,6,6,390795,437978,1,5.558678,0.544727,265.605886,545.856025,14
1647603264823,1,block_1,5,smooth_pursuit,6,6,390795,437978,1,5.542915,0.504231,265.265789,546.228292,14
1647603264854,1,block_1,5,smooth_pursuit,6,6,390795,437978,1,5.529814,0.463799,264.948504,546.566580,14
1647603264883,1,block_1,5,smooth_pursuit,6,6,390795,437978,1,5.486064,0.427311,264.642828,546.865172,14

In [22]:
all_targets.Participant_Nr.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [23]:
df_interpolated.isnull().sum()

time_lb             0
Block_Nr            0
Block_Name          0
Task_Nr             0
Task_Name           0
Trial_Nr            0
Trial_Id            0
Exp_Subject_Id      0
Rec_Session_Id      0
Session_Nr          0
timestamp           0
X_lb                0
Y_lb                0
c                   0
Participant_Nr_x    0
X_el                0
Y_el                0
Tracker_Time        0
Participant_Nr_y    0
dtype: int64

In [24]:
df_interpolated.set_index('time_lb')

,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,Exp_Subject_Id,Rec_Session_Id,Session_Nr,timestamp,X_lb,Y_lb,c,Participant_Nr_x,X_el,Y_el,Tracker_Time,Participant_Nr_y
time_lb,,,,,,,,,,,,,,,,,,
1643104077936,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104077969,721.746687,468.656997,0.840882,1,0,0,1780259.0,1.0
1643104077974,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078018,788.702177,482.510117,0.842411,1,0,0,1780297.0,1.0
1643104078040,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078065,839.120668,501.489582,0.743172,1,0,0,1780363.0,1.0
1643104078073,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078087,774.508501,462.469328,0.745486,1,0,0,1780396.0,1.0
1643104078106,1,block_1,5,smooth_pursuit,1,3,361162,401562,1,1643104078125,789.402485,473.965598,0.753613,1,0,0,1780429.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642000353145,1,block_1,5,smooth_pursuit,6,5,349904,387595,1,1642000353167,322.972298,410.529417,0.800210,14,368,386,2700995.0,14.0
1642000353178,1,block_1,5,smooth_pursuit,6,5,349904,387595,1,1642000353191,347.786336,448.015920,0.802053,14,373,387,2701027.0,14.0
1642000353211,1,block_1,5,smooth_pursuit,6,5,349904,387595,1,1642000353240,310.062246,377.160095,0.875662,14,416,382,2701061.0,14.0
1642000353244,1,block_1,5,smooth_pursuit,6,5,349904,387595,1,1642000353269,328.552794,412.960162,0.876848,14,419,395,2701093.0,14.0
1642000353283,1,block_1,5,smooth_pursuit,6,5,349904,387595,1,1642000353301,363.968639,423.731605,0.878022,14,0,0,2701133.0,14.0

In [25]:
df_lb_temp = pd.concat([all_targets, df_interpolated .index.to_frame()]).sort_index().interpolate()

In [26]:
df_lb_temp = df_lb_temp[~df_lb_temp.index.duplicated(keep='first')]
df_targets_interpolated = df_interpolated .merge(df_lb_temp, left_index=True, right_index=True, how='left')

In [27]:
# df_targets_interpolated = df_targets_interpolated.drop(columns=['time_lb'])
df_targets_interpolated = df_targets_interpolated.reset_index()

In [33]:
df_targets_interpolated.isnull().sum()
df.dropna(subset=['X_target'], how='all', inplace=True)
df.dropna(subset=['Y_target'], how='all', inplace=True)

,Task_Nr,time_lb,X_lb,Y_lb,C_lb,X_el,Y_el,X_target,Y_target,V_Target,Participant_Nr
2,5,1643104078040,839.120668,501.489582,0.743172,0,0,399.999241,225.000590,0.000961,1
3,5,1643104078073,774.508501,462.469328,0.745486,0,0,399.996585,225.003018,0.003599,1
4,5,1643104078106,789.402485,473.965598,0.753613,0,0,399.990523,225.008382,0.008095,1
5,5,1643104078139,761.305622,404.912636,0.755837,0,0,399.978379,225.016088,0.014383,1
6,5,1643104078205,802.249870,448.323735,0.994443,0,0,399.958463,225.026466,0.022458,1
...,...,...,...,...,...,...,...,...,...,...,...
58997,5,1642000353145,322.972298,410.529417,0.800210,368,386,388.023956,164.198328,2.723539,14
58998,5,1642000353178,347.786336,448.015920,0.802053,373,387,390.095351,161.119963,2.797592,14
58999,5,1642000353211,310.062246,377.160095,0.875662,416,382,390.980871,159.437242,2.834029,14
59000,5,1642000353244,328.552794,412.960162,0.876848,419,395,391.699697,157.169279,2.879192,14
59001,5,1642000353283,363.968639,423.731605,0.878022,0,0,392.239924,154.286844,2.932672,14

In [34]:
df_targets_interpolated = df_targets_interpolated[['Task_Nr_x','time_lb','X_lb','Y_lb','c','X_el','Y_el','X_target','Y_target','V','Participant_Nr_x']]

KeyError: "['Participant_Nr_x', 'Task_Nr_x', 'c', 'V'] not in index"

In [30]:
df_targets_interpolated.Participant_Nr_x.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [31]:
df_targets_interpolated = df_targets_interpolated.rename(columns={'Task_Nr_x':'Task_Nr','c':'C_lb','V':'V_Target','Participant_Nr_x':'Participant_Nr'})

In [32]:
df_targets_interpolated.to_csv('../data/smooth_pursuit_interpolated/smooth_pursuit_inter.csv', index = False)

In [ ]:
df_targets_interpolated