In [4]:
# Import many dataFrame for the Algorithm Comparison:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import cm
from matplotlib.lines import Line2D
from scipy import stats
import glob
import os
# pd.set_option('display.max_rows', 500)
from scipy.stats import gaussian_kde
from scipy.stats import sem
import seaborn as sns
from scipy.stats.mstats import winsorize

### Import our libraries
# some_file.py
import sys
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, '../data_preprocessing/')
import fixation_plots as plots
from utility import utilitiesCalc
import interpolationET as inter
counter = 22
lb_data = []
el_data = []
trial_data = []
targets_data = []
subject = 0
targets_data = []
el_blinks = pd.DataFrame()
el_blnk = []
s_gaze = 0
all_target = pd.DataFrame()
temp_all_data = []
df_saccads_el = pd.DataFrame()
df_saccads_lb = pd.DataFrame()
perc_loss_el_arr = []
perc_loss_lb_arr = []

for i in range(1,counter):
    subject = subject + 1
    s_gaze = s_gaze + 1
    el_gaze = pd.read_csv("../data/el_data/p" + str(i) + '.csv', engine='python')
    el_saccads = pd.read_csv("../data/el_data/el_events/saccads/p" + str(i) + '_events.csv', engine='python')
    lb_gaze = pd.read_csv("../data/lb_data/timeseries_data/p" + str(i) + '_XYTC.csv', engine='python')
    print('loads files from =' + str(i))
    
    lb_gaze = utilitiesCalc.addParticipantNumberCol(subject, lb_gaze)
    lb_gaze = inter.formating_labvanced (lb_gaze)
    lb_gaze = lb_gaze[lb_gaze['Task_Name'] == "free_view"]
    starting_time = lb_gaze.time_lb.values[0]
    finishing_time = lb_gaze.time_lb.values[-1]
    
    saccads_lb = []
    df_saccads_lb = pd.DataFrame()
    for index, row in el_saccads.iterrows():
        saccads_offset = row['End']
        saccads_onset = row['Start']
        within_saccads = lb_gaze.loc[(lb_gaze.time_lb <= saccads_offset) & (lb_gaze.time_lb >= saccads_onset)]
        saccads_lb.append(within_saccads)
    df_saccads_lb = pd.concat(saccads_lb, axis=0, ignore_index=False)


        
    saccads_el = []
    df_saccads_el = pd.DataFrame()
    for index, row in el_saccads.iterrows():
        saccads_offset = row['End']
        saccads_onset = row['Start']
        within_saccads = el_gaze.loc[(el_gaze.Time <= saccads_offset) & (el_gaze.Time >= saccads_onset)]
        saccads_el.append(within_saccads)
    df_saccads_el = pd.concat(saccads_el, axis=0, ignore_index=False)
    break
df_saccads_el

loads files from =1

            X      Y  Tracker_Time          Time
298     716.1  464.6        557775  1.643103e+12
299     715.7  469.4        557777  1.643103e+12
300     714.8  476.3        557779  1.643103e+12
301     713.4  486.1        557781  1.643103e+12
302     711.0  503.5        557783  1.643103e+12
...       ...    ...           ...           ...
839348    0.0    0.0       2235875  1.643105e+12
839349    0.0    0.0       2235877  1.643105e+12
839350    0.0    0.0       2235879  1.643105e+12
839351    0.0    0.0       2235881  1.643105e+12
839352    0.0    0.0       2235883  1.643105e+12

[410051 rows x 4 columns]

In [5]:
df_saccads_lb

,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,Exp_Subject_Id,Rec_Session_Id,Session_Nr,timestamp,X_lb,Y_lb,time_lb,c,Participant_Nr
18,1,block_1,7,free_view,1,17,361162,401562,1,1643104413462,743.523657,627.763067,1643104413438,1.000000,1
44,1,block_1,7,free_view,1,17,361162,401562,1,1643104414327,460.764370,688.389319,1643104414302,0.878159,1
48,1,block_1,7,free_view,1,17,361162,401562,1,1643104414467,394.489946,711.260891,1643104414434,0.924045,1
62,1,block_1,7,free_view,1,17,361162,401562,1,1643104414945,233.103619,600.611883,1643104414924,1.000000,1
63,1,block_1,7,free_view,1,17,361162,401562,1,1643104414985,250.400133,610.734822,1643104414957,0.984062,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1557,1,block_1,7,free_view,18,7,361162,401562,1,1643104520436,367.658136,989.317238,1643104520411,0.308749,1
1568,1,block_1,7,free_view,18,7,361162,401562,1,1643104520797,349.866443,632.090999,1643104520775,0.871466,1
1574,1,block_1,7,free_view,18,7,361162,401562,1,1643104521002,445.738163,486.324241,1643104520973,1.000000,1
1590,1,block_1,7,free_view,18,7,361162,401562,1,1643104521569,735.424491,393.592675,1643104521544,1.000000,1
1596,1,block_1,7,free_view,18,7,361162,401562,1,1643104521767,975.613704,360.812071,1643104521743,1.000000,1