In [1]:
# Import many dataFrame for the Algorithm Comparison:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import cm
from matplotlib.lines import Line2D
from scipy import stats
import glob
import os
# pd.set_option('display.max_rows', 500)
from scipy.stats import gaussian_kde
from scipy.stats import sem
import seaborn as sns
from scipy.stats.mstats import winsorize

### Import our libraries
# some_file.py
import sys
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, '../data_preprocessing/')
import fixation_plots as plots
from utility import utilitiesCalc

In [3]:
lb_data = []
el_data = []
trial_data = []
for files in sorted(glob.glob("../data/lb_data/timeseries_data/*.csv"),key=os.path.getmtime):
    df_temp = pd.read_csv(files, index_col=False)
    lb_data.append(df_temp)
lb_gaze = pd.concat(lb_data, axis=0, ignore_index=True)
for files in sorted(glob.glob("../data/el_data/*.csv"),key=os.path.getmtime):
    df_temp = pd.read_csv(files, index_col=False)
    el_data.append(df_temp)
    
el_gaze = pd.concat(el_data, axis=0, ignore_index=True)
for files in sorted(glob.glob("../data/lb_data/trial_data/*.csv"),key=os.path.getmtime):
    df_temp = pd.read_csv(files, index_col=False)
    trial_data.append(df_temp)
all_trials = pd.concat(trial_data, axis=0, ignore_index=True)

In [5]:
lb_gaze = lb_gaze[lb_gaze['Task_Name'] == 'smooth_pursuit']
all_trials = all_trials[all_trials['Task_Name'] == 'smooth_pursuit']

In [6]:
lb_gaze

,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,Exp_Subject_Id,Rec_Session_Id,Session_Nr,timestamp,value,Unnamed: 11,Unnamed: 12,Unnamed: 13,"��""Block_Nr"""
1609,1.0,block_1,5,smooth_pursuit,1,5,361229,401656,1,1643114037143,NaN,NaN,NaN,NaN,NaN
1610,1.0,block_1,5,smooth_pursuit,1,5,361229,401656,1,1643114065284,951.974216,391.373368,1.643114e+12,0.656193,NaN
1611,1.0,block_1,5,smooth_pursuit,1,5,361229,401656,1,1643114065339,947.602816,374.883013,1.643114e+12,0.659171,NaN
1612,1.0,block_1,5,smooth_pursuit,1,5,361229,401656,1,1643114065382,690.605752,225.231072,1.643114e+12,0.807137,NaN
1613,1.0,block_1,5,smooth_pursuit,1,5,361229,401656,1,1643114065413,504.138007,107.431027,1.643114e+12,0.808924,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181652,1.0,block_1,5,smooth_pursuit,6,6,399177,447540,1,1649157189490,344.563093,470.891753,1.649157e+12,0.943546,NaN
181653,1.0,block_1,5,smooth_pursuit,6,6,399177,447540,1,1649157189532,506.239722,475.279726,1.649157e+12,1.000000,NaN
181654,1.0,block_1,5,smooth_pursuit,6,6,399177,447540,1,1649157189568,496.699018,482.225239,1.649157e+12,1.000000,NaN
181655,1.0,block_1,5,smooth_pursuit,6,6,399177,447540,1,1649157189606,496.699018,482.225239,1.649157e+12,1.000000,NaN
181656,1.0,block_1,5,smooth_pursuit,6,6,399177,447540,1,1649157189647,441.096804,405.481238,1.649157e+12,1.000000,NaN

In [6]:
all_trials

,Rec_Session_Id,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,button_pressed,calibration_error,Condition_Id,...,ScreenRecorder,showGaze,StartFrame,target_visibility_afterTime,targetX,targetY,time_offset_beep,time_sound_beep,trial_error,videoRecordTime
19,409193,1,block_1,5,smooth_pursuit,1,1,1.643987e+12,NaN,1,...,NaN,NaN,1.643987e+12,NaN,NaN,NaN,NaN,NaN,74.232018,NaN
20,409193,1,block_1,5,smooth_pursuit,2,3,1.643987e+12,NaN,1,...,NaN,NaN,1.643987e+12,NaN,NaN,NaN,NaN,NaN,62.431133,NaN
21,409193,1,block_1,5,smooth_pursuit,3,5,1.643987e+12,NaN,1,...,NaN,NaN,1.643987e+12,NaN,NaN,NaN,NaN,NaN,125.628212,NaN
22,409193,1,block_1,5,smooth_pursuit,4,2,1.643987e+12,NaN,1,...,NaN,NaN,1.643987e+12,NaN,NaN,NaN,NaN,NaN,311.352264,NaN
23,409193,1,block_1,5,smooth_pursuit,5,6,1.643987e+12,NaN,1,...,NaN,NaN,1.643987e+12,NaN,NaN,NaN,NaN,NaN,72.879539,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1320,447540,1,block_1,5,smooth_pursuit,2,1,1.649157e+12,NaN,1,...,NaN,NaN,1.649157e+12,NaN,NaN,NaN,NaN,NaN,110.308357,NaN
1321,447540,1,block_1,5,smooth_pursuit,3,4,1.649157e+12,NaN,1,...,NaN,NaN,1.649157e+12,NaN,NaN,NaN,NaN,NaN,184.271591,NaN
1322,447540,1,block_1,5,smooth_pursuit,4,5,1.649157e+12,NaN,1,...,NaN,NaN,1.649157e+12,NaN,NaN,NaN,NaN,NaN,188.752945,NaN
1323,447540,1,block_1,5,smooth_pursuit,5,3,1.649157e+12,NaN,1,...,NaN,NaN,1.649157e+12,NaN,NaN,NaN,NaN,NaN,247.454468,NaN
1324,447540,1,block_1,5,smooth_pursuit,6,6,1.649157e+12,NaN,1,...,NaN,NaN,1.649157e+12,NaN,NaN,NaN,NaN,NaN,114.021057,NaN

In [5]:
# # Create the column with the distance to target
# lb_fix = utilitiesCalc.calcEuclideanDistance(lb_fix, all_trials)
# # el_fix = utilitiesCalc.calcEuclideanDistance(el_fix, all_trials)
# lb_fix

Empty DataFrame
Columns: [Block_Nr, Block_Name, Task_Nr, Task_Name, Trial_Nr, Trial_Id, Exp_Subject_Id, Rec_Session_Id, Session_Nr, timestamp, x, y, dur, ts, tf, disp, ��"Block_Nr", distance]
Index: []

In [6]:
all_trials

,Rec_Session_Id,Block_Nr,Block_Name,Task_Nr,Task_Name,Trial_Nr,Trial_Id,button_pressed,calibration_error,Condition_Id,...,ScreenRecorder,showGaze,StartFrame,target_visibility_afterTime,targetX,targetY,time_offset_beep,time_sound_beep,trial_error,videoRecordTime
19,409193,1,block_1,5,smooth_pursuit,1,1,1.643987e+12,NaN,1,...,NaN,NaN,1.643987e+12,NaN,NaN,NaN,NaN,NaN,74.232018,NaN
20,409193,1,block_1,5,smooth_pursuit,2,3,1.643987e+12,NaN,1,...,NaN,NaN,1.643987e+12,NaN,NaN,NaN,NaN,NaN,62.431133,NaN
21,409193,1,block_1,5,smooth_pursuit,3,5,1.643987e+12,NaN,1,...,NaN,NaN,1.643987e+12,NaN,NaN,NaN,NaN,NaN,125.628212,NaN
22,409193,1,block_1,5,smooth_pursuit,4,2,1.643987e+12,NaN,1,...,NaN,NaN,1.643987e+12,NaN,NaN,NaN,NaN,NaN,311.352264,NaN
23,409193,1,block_1,5,smooth_pursuit,5,6,1.643987e+12,NaN,1,...,NaN,NaN,1.643987e+12,NaN,NaN,NaN,NaN,NaN,72.879539,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1320,447540,1,block_1,5,smooth_pursuit,2,1,1.649157e+12,NaN,1,...,NaN,NaN,1.649157e+12,NaN,NaN,NaN,NaN,NaN,110.308357,NaN
1321,447540,1,block_1,5,smooth_pursuit,3,4,1.649157e+12,NaN,1,...,NaN,NaN,1.649157e+12,NaN,NaN,NaN,NaN,NaN,184.271591,NaN
1322,447540,1,block_1,5,smooth_pursuit,4,5,1.649157e+12,NaN,1,...,NaN,NaN,1.649157e+12,NaN,NaN,NaN,NaN,NaN,188.752945,NaN
1323,447540,1,block_1,5,smooth_pursuit,5,3,1.649157e+12,NaN,1,...,NaN,NaN,1.649157e+12,NaN,NaN,NaN,NaN,NaN,247.454468,NaN
1324,447540,1,block_1,5,smooth_pursuit,6,6,1.649157e+12,NaN,1,...,NaN,NaN,1.649157e+12,NaN,NaN,NaN,NaN,NaN,114.021057,NaN